---
export interface Link {
  title: string;
  subtitle?: string;
  description?: string;
  href: string;
  goSlug: string;
}

export interface Props {
  link: Link;
}

const {
  link: { title, href, subtitle, description, goSlug },
} = Astro.props;
---

<li>
  <a href={href} target="_blank" rel="nofollow noopener">{title}</a>{
    subtitle ? ',' : ''
  }
  <span class="no-wrap">{subtitle}</span>
  <p>{description}</p>
  <div class="print-only link">wes.dev/go/{goSlug}</div>
</li>
