extends template-default

block append meta
    - ogImage = 'products/'+ image

block append feet
    #fb-root
    script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=651701388212407";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk')); !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

block content
    header.content.page-header
        .wrapper
            h1= title
            .product--buy.grid.width-1-1.width-md-2-3.width-lg-1-3
                if retailPrice
                    .width-1-3.product--retail
                        .product--only RETAIL PRICE
                        .product--price € #{retailPrice}
                .width-1-3
                    .product--only ONLY! 
                    .product--price € #{price}
                .width-1-3
                    if sold
                        span.btn(disabled) #[i.fa.fa-ban] Sold
                    else
                        a.btn.btn-primary(href=buyLink, target='_blank') #[i.fa.fa-check-square] Buy
            p.tagline
                if moreInfo
                    a(href=moreInfo, target='_blank') Technical Specs
                    |  &middot; 
                a(href='/selling-everything/') Other Products for Sale
    section.content
        .wrapper
            img.width-1-1.rounded-corners(src='/images/products/'+ image)
            if contents
                p &nbsp;
                .box.text-left
                    p!= contents
    section.content-alternate.blog-share
        h1 Like and share
        ul.list-linear
            li: .visible-sm: .fb-like(data-href=site.url +'/'+ path, data-layout='button_count', data-action='like', data-share='true')
            li: .hidden-sm: .fb-like(data-href=site.url +'/'+ path, data-width='450', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
            li: a.twitter-share-button(href='https://twitter.com/share', data-url=site.url +'/'+ path, data-via='WesleydeSouza', data-lang='en') Tweetar
