doctype
html(lang=locale)
    head
        block meta
        title
            if title
                | #{title} &ndash; Wesley de Souza
            else
                | Wesley de Souza &ndash; Web developer, restless innovator, crazy guy.
        meta(property='og:title', content=title ? title : 'Wesley de Souza')
        meta(property='og:type', content=collection && ~collection.indexOf( 'blog' ) ? 'article' : 'website')
        if ogImage
            meta(property='og:image', content=ogImage ? site.url +'/images/'+ ogImage : 'http://wesley.so/images/og-image.jpg')
        else
            meta(property='og:image', content=image && image.src ? site.url +'/images/blog/'+ image.src : 'http://wesley.so/images/og-image.jpg')
        meta(property='og:site_name', content='Wesley de Souza')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='WesleydeSouza')
        meta(name='twitter:domain', content='wesley.so')
        meta(name='application-name', content='Wesley de Souza')
        if publish == 'unlisted'
            meta(name='robots', content='noindex')
        if description
            meta(name='description', content=description)
            meta(property='og:description', content=description)
        if path
            meta(property='og:url', content=site.url +'/'+ path)
            link(rel='canonical', href=site.url +'/'+ path)
        meta(property='fb:app_id', content='651701388212407')
        link(rel='alternate', type='application/rss+xml', title='Wesley’s Blog', href='/rss.xml')
        block head
        script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-96789-16', 'wesley.so'); ga('send', 'pageview');
    body.scroll-on-top(class=bodyClass)
        block body
        block feet
